{% extends 'flask_report_system/index.html' %}
{% block title %}List Of Reports{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
    $('#listparamtable').DataTable( {
         "scrollY":      200,
        "scrollX": true,
    } );
} );

</script>
<style>
    div.dataTables_wrapper {
        width: auto;
    }

 #delete { float:right }
</style>

<div class="container">
      <ul class="breadcrumb">
        <li><a href="{{  url_for('param_data') }}" class="ng-binding">Mange Parameters</a></li>
        <li class="active ng-binding">Add Parameter</li>
      </ul>
<br>
<div class="card well">

    <div class="row">
        <div class="col-md-8">
            <form name="createparamrform" method="post">
                <div class="form-row">
                    <div class="row">
                    <div class="form-group col-md-6">
                        <label for="paramlabel">Parameter Name</label>
                        <input id="paramlabel" name="paramlabel" type="text" class="form-control" value="">
                    </div>
                     <div class="form-group col-md-6">
                        <label for="paramlabel">Parameter Value</label>
                        <input id="parameter_name" name="parameter_name" type="text" class="form-control" value="">
                    </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label binding">Parameter Display Type&nbsp;<span
                                    class="required">*</span></label>
                            <select id="paramdisplay_type" name="paramdisplay_type" class="form-control" value="">

                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label binding">Parameter Format Type&nbsp;</label>
                            <select id="paramformat_type" name="paramformat_type" class="form-control"
                                    value="">


                            </select>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label binding">Description</label>
                            <div>
                                <textarea id="description" name="description" class="form-control" rows="3" value=""></textarea>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label binding">&nbsp;</label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label binding">Sql<span class="required">*</span></label>
                            <textarea class="form-control width100 " id="parameter_sql" rows="4" name="parameter_sql"
                                      model="formData.reportSql" required=""></textarea>
                            <form-validate valattributeform="createreportrform" valattribute="parameter_sql" > <span show=""
                                                                                                         class="scope"><small
                                    class="error binding hide">Required Field</small><small
                                    class="required error binding hide" >Must be numeric</small></span>
                            </form-validate>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style="display: flex;" class="form-group col-md-6">
                        <label class="control-label binding">Report Parameters </label>
                        <select id="parametervalue" name="parametervalue" class="form-control">
                            <option value="" selected>Select allowed parameter</option>
                            {% for p in params %}
                            <option value="{{ p.id }}">{{p.parameter_label}}</option>
                            {% endfor %}
                        </select>
                        <span>
                           <input type="button" class="btn btn-primary binding" onclick="EditparameterSelected()" value="Add">
                         </span>
                    </div>
                </div>
                <table id="selectedparamtable" name="selectedparamtable" width="50%">
                    <tbody>
                    <tr class="graybg">
                        <th id="parame" name="parame" class="binding">Parameter</th>
                        <th style="display:none;" id="value" name="value" class="binding">Value</th>
                        <th id="dd" name="dd" class="binding">Actions</th>
                    </tr>
                    </tbody>


                </table>
                <br>
                <input type="submit" class="btn btn-primary binding" style="margin:auto;display:block" value="Submit">
            </form>
        </div>
        <div class="col-md-4 border border-primary" style="border:2px solid #195e83	;">
            <label class="control-label binding">Report Parameters Available&nbsp;</label>
            <div class="border border-primary">
                <table id="listparamtable" class="display nowrap" style="width:100%;">
                    <thead>
                    <tr>
                        <th>Prameter Name</th>
                        <th>Parameter Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in params %}
                    <tr>
                        <td> {{ p.parameter_label }}</td>
                        <td> <b>${</b><b>{{ p.parameter_name }}</b><b>}</b></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script>
var added_param={{added_params |  safe }};
console.log(added_param);
for ( var i = 0, l = added_param.length; i < l; i++ ) {
    console.log(added_param[i]);
     var  tablerow='<td style="display:none;" > <input id="selectedparam" name="selectedparam[]" type="text" value="'+added_param[i]['id'] +'"readonly></td>'
        console.log(tablerow);
        var deletestr='<td><input type="button" id="delete" value="Delete" onclick="deleteRow(this)"/></td>';
        console.log(deletestr);
        $(selectedparamtable).find('tbody').append("<tr><td id='selectedparamlabel' name='selectedparamlabel'>"+added_param[i]['parameter_label']+"</td>"+tablerow+deletestr+"</tr>");

}

    $(document).ready(function() {
    $('#list_reports').DataTable();
} );
</script>

<script>

var paramlist='';


var display_type= '';
var selectValues = {"number":"Number","text":"Text","date":"Date","select":"Select Dropdown"};
$.each(selectValues, function(key, value) {
         $('#paramdisplay_type')
             .append($("<option></option>")
                        .attr("value", key)
                        .text(value));
});

$("#paramdisplay_type").val(display_type);

var format_type= '';
var selectformatValues = {"number":"Number","text":"Text","date":"Date"}
$.each(selectformatValues, function(key, value) {
         $('#paramformat_type')
             .append($("<option></option>")
                        .attr("value", key)
                        .text(value));
});

$("#paramformat_type").val(format_type);
var myDropdown=document.getElementsByName('parametervalue');
    function EditparameterSelected(){
    var rowCount = $('#selectedparamtable tr').length;
    console.log(rowCount);
        if (rowCount<2){
                console.log('option changed : '+myDropdown[0].value);
                var selectedval=myDropdown[0].value;
                var selectedlebel=$('#parametervalue option:selected').text();
                console.log($('#parametervalue option:selected').text());
                console.log(paramlist);
                var  tablerow='<td style="display:none;"> <input id="selectedparam" name="selectedparam['+paramlist+']" type="text" value="'+selectedval +'"readonly></td>'
                console.log(tablerow);
                var deletestr='<td><input type="button" id="delete" value="Delete" onclick="deleteRow(this)"/></td>';
                console.log(deletestr);
                $(selectedparamtable).find('tbody').append("<tr><td id='selectedparamlabel' name='selectedparamlabel'>"+selectedlebel+"</td>"+tablerow+deletestr+"</tr>");
                $(selectedparamtable).show();
        }
    }
    function deleteRow(btn) {
      var row = btn.parentNode.parentNode;
      row.parentNode.removeChild(row);
    }
</script>
{% endblock %}