{% extends 'flask_report_system/index.html' %}
{% block title %}List Of Reports{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
    $('#listparamtable').DataTable( {
         "scrollY":      200,
        "scrollX": true,
    } );
} );

</script>
<style>
    div.dataTables_wrapper {
        width: auto;
    }

 #delete { float:right }
</style>

<div class="container">
      <ul class="breadcrumb">
        <li><a href="{{  url_for('edit_report_list') }}" class="ng-binding">Mange Reports</a></li>
        <li class="active ng-binding">Edit Report</li>
                   <span id="delete" ><a href="{{ url_for( 'delete_report' , id=report['id']) }}" class="btn btn-primary"><i class="fa fa-trash "></i> Delete</a></span>

      </ul>
<br>
<div class="card well">

    <div class="row">
        <div class="col-md-8">
            <form name="createreportrform" method="post">
                <div class="form-row">
                    <div class="form-group">
                        <label for="reportname">Report Name</label>
                        <input id="reportname" name="reportname" type="text" class="form-control" value="{{report['name']}}">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label binding">Report type&nbsp;<span
                                    class="required">*</span></label>
                            <select id="reportType" name="reportType" class="form-control" value="">
                                <option label="Table" value="Table" selected="selected">Table</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label binding">Report sub type&nbsp;</label>
                            <select id="reportSubType" name="reportSubType" class="form-control"
                                    value="">
                                <option value="" class="binding" selected="selected">Select one</option>
                                <option label="Bar" value="string:Bar">Bar</option>
                                <option label="Pie" value="string:Pie">Pie</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label binding">Description</label>
                            <div>
                                <textarea id="description" name="description" class="form-control" rows="3" value="{{report['description']}}">{{report['description']}}</textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label binding">Report category&nbsp;</label>
                            <div>
                                <input id="reportCategory" name="reportCategory" type="text" class="form-control" value="{{report['report_category']}}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label binding">Sql<span class="required">*</span></label>
                            <textarea class="form-control width100 " id="reportSql" rows="4" name="sql"
                                      model="formData.reportSql" required="">{{report["sql"]}}</textarea>
                            <form-validate valattributeform="createreportrform" valattribute="sql" > <span show=""
                                                                                                         class="scope"><small
                                    class="error binding hide">Required Field</small><small
                                    class="required error binding hide" >Must be numeric</small></span>
                            </form-validate>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style="display: flex;" class="form-group col-md-6">
                        <label class="control-label binding">Report Parameters </label>
                        <select id="parametervalue" name="parametervalue" class="form-control">
                            <option value="" selected>Select allowed parameter</option>
                            {% for p in params %}
                            <option value="{{ p.id }}">{{p.parameter_label}}</option>
                            {% endfor %}
                        </select>
                        <span>
                           <input type="button" class="btn btn-primary binding" onclick="EditparameterSelected()" value="Add">
                         </span>
                    </div>
                </div>
                <table id="selectedparamtable" name="selectedparamtable" width="50%">
                    <tbody>
                    <tr class="graybg">
                        <th id="parame" name="parame" class="binding">Parameter</th>
                        <th style="display:none;" id="value" name="value" class="binding">Value</th>
                        <th id="dd" name="dd" class="binding">Actions</th>
                    </tr>
                    </tbody>

                </table>
                <br>
                       <table id="selectcolorcode" name="selectcolorcode" width="100%" cellspacing="2px" style="border-spacing: 10px;border-collapse: separate;" >
                           <thead>
                            <tr class="graybg">
                        <th id="fieldname" name="fieldname" class="binding">Field Name</th>
                        <th id="condition" name="condition" class="binding">Condition</th>
                        <th id="color" name="color" class="binding">Color</th>
                        <th id="colorlevel" name="colorlevel" class="binding">Apply Level</th>
                                <th id="dc" name="dc" class="binding">Actions</th>
                    </tr>
                           </thead>
                    <tbody>
                    </tbody>
                </table>
                         <span>
                           <input type="button" class="btn btn-primary binding" onclick="addcolor()" value="Addcolor">
                         </span>

                <input type="submit" class="btn btn-primary binding" style="margin:auto;display:block" value="Submit">
            </form>
        </div>
        <div class="col-md-4 border border-primary" style="border:2px solid #195e83	;">
            <label class="control-label binding">Report Parameters Available&nbsp;</label>
            <div class="border border-primary">
                <table id="listparamtable" class="display nowrap" style="width:100%;">
                    <thead>
                    <tr>
                        <th>Prameter Name</th>
                        <th>Parameter Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in params %}
                    <tr>
                        <td> {{ p.parameter_label }}</td>
                        <td> <b>${</b><b>{{ p.parameter_name }}</b><b>}</b></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


<script>
//
function addcolor(){
console.log('trying to add color row');
var deletestrcolor='<td><input type="button" id="deletecolor" value="Delete" onclick="deleteColorRow(this)"/></td>';
var field_name='<tr><td> <input class="form-control" type="text" name="color_field_name" id="color_field_name" value="" /> </td>';
var condition='<td> <textarea name="color_condition" id="color_condition" cols="20" rows="4" placeholder="enter javascript condition. EX value>2000 &&( value<3000 || value<2000 ), here value is constant value represents the feildname that you mentioned in feild name "></textarea> </td> ';
var color = '<td> <input class="form-control" type="text" id="color" name="color" value="" /> </td>';
var apply_level='<td> <select id="color_apply_level" name="color_apply_level" onchange="getval(this);"><option value="1">Complete Row</option><option value="2">Column Only</option> </select> </td>'
$('#selectcolorcode').find('tbody').append(field_name+condition+color+apply_level+deletestrcolor+'</tr>');
$('#selectcolorcode').show();
}
function deleteColorRow(btn) {
      var row = btn.parentNode.parentNode;
      row.parentNode.removeChild(row);
    }
</script>
<script>
var added_param={{added_param |  safe }};
var added_color={{added_color |  safe }};
console.log(added_param);
//adding selected params and added color
for ( var i = 0, l = added_param.length; i < l; i++ ) {
    console.log(added_param[i]);
     var  tablerow='<td style="display:none;" > <input id="selectedparam" name="selectedparam[]" type="text" value="'+added_param[i]['id'] +'"readonly></td>'
        console.log(tablerow);
        var deletestr='<td><input type="button" id="delete" value="Delete" onclick="deleteRow(this)"/></td>';
        console.log(deletestr);
        $(selectedparamtable).find('tbody').append("<tr><td id='selectedparamlabel' name='selectedparamlabel'>"+added_param[i]['parameter_label']+"</td>"+tablerow+deletestr+"</tr>");
    }

for ( var i = 0, l = added_color.length; i < l; i++ ) {
    console.log(added_color[i]);
    var field_name='<tr><td> <input class="form-control" type="text" name="color_field_name" id="color_field_name" value="'+added_color[i]['field_name']+'" /> </td>';
    var condition = '<td> <textarea name="color_condition" id="color_condition" cols="20" rows="4">'+added_color[i]['condition']+'</textarea> </td>'
     var color = '<td> <input class="form-control" type="text" id="color" name="color" value="'+added_color[i]['color']+'" /> </td><td>'
     if (added_color[i]['apply_level']==2){
      var apply_level= '<select id="color_apply_level" name="color_apply_level" onchange="getval(this);"><option value="1">Complete Row</option><option selected="selected" value="2">Column Only</option> </select> </td>'
      }
      else{
      var apply_level= '<select id="color_apply_level" name="color_apply_level" onchange="getval(this);"><option selected="selected"  value="1">Complete Row</option><option value="2">Column Only</option> </select> </td>'
      }
       var deletestrcolor='<td><input type="button" id="deletecolor" value="Delete" onclick="deleteColorRow(this)"/></td>';
      var deleterow=deletestrcolor+' </tr>';
      $('#selectcolorcode').find('tbody').append(field_name+condition+color+apply_level+deletestr);
    }


    $(document).ready(function() {
    $('#list_reports').DataTable();
} );
</script>

<script>

var paramlist='';


var myDropdown=document.getElementsByName('parametervalue');
    function EditparameterSelected(){
        console.log('option changed : '+myDropdown[0].value);
        var selectedval=myDropdown[0].value;
        var selectedlebel=$('#parametervalue option:selected').text();
        console.log($('#parametervalue option:selected').text());
        console.log(paramlist);
        var  tablerow='<td style="display:none;"> <input id="selectedparam" name="selectedparam['+paramlist+']" type="text" value="'+selectedval +'"readonly></td>'
        console.log(tablerow);
        var deletestr='<td><input type="button" id="delete" value="Delete" onclick="deleteRow(this)"/></td>';
        console.log(deletestr);
        $(selectedparamtable).find('tbody').append("<tr><td id='selectedparamlabel' name='selectedparamlabel'>"+selectedlebel+"</td>"+tablerow+deletestr+"</tr>");
        $(selectedparamtable).show();
    }
    function deleteRow(btn) {
      var row = btn.parentNode.parentNode;
      row.parentNode.removeChild(row);
    }
</script>
{% endblock %}